h1{
  text-align: center;
  background-color: chartreuse;
  padding: 20px;
}
#wordContainer{
  display: flex;
  gap: 10px;
}
.dragingDiv {
  background-color: blue;
  padding: 5px;
  border: 2px solid rgb(243, 5, 5);
  text-align: center;
}

.category{
  display: inline-block;
  text-align: center;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  margin-top: 10px;
}
